$warmGrey: #979797;
$whiteTwo: #eaeaea;
$whiteThree: #ffffff;
$greyishTwo: #b0b0b0;
$sapGreen: #62aa14;
$babyPurple: #e990f9;
$greyish: #b0abab;
$white: #eaeaea;
$appleGreen: #7ed321;


$header-height-m: 77px;
$header-height: 115px;
$main-height-m: calc(100vh - #{$header-height-m});
$main-height: calc(100vh - #{$header-height});
$jogs-item-width: calc(100vw + 0.75rem);
