.headerFilter{
  cursor:pointer;
  padding-right: 30px;
}
.headerFilter:hover path{
  fill: $whiteThree;
}
.headerFilter:hover rect{
  stroke: $whiteThree;
}
@include media-breakpoint-down(lg) {
  .headerFilter{
    position: absolute;
    right: 15%;
  }
}