.info{
  margin-top: 20px;
}
.infoHead{
  color: $appleGreen;
  margin-bottom: 5px;
  font-weight: bold;
}
.infoText{
  margin-bottom: 15px;
}
@include media-breakpoint-up(lg) {
  .info{
    margin-top: 85px;
  }
  .infoHead{
    margin-bottom: 15px;
  }
  .infoText{
    margin-bottom: 30px;
  }
}