//Empty

.jogEmpty {
  height: $main-height-m;
  padding-top: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;

  button {
    position: absolute;
    bottom: 5vh;
  }
}

.jogEmptyText {
  margin-top: 30px;
}

//Add
.jogsAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin: 10vh auto 0;
  height: 380px;
  background-color: $appleGreen;
  border-radius: 35px;
}

.jogsCross {
  @extend %buttonRestore;
  position: absolute;
  right: 5%;
  top: 5%;
}

.jogsAddItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  justify-content: center;
  flex-direction: column;
}

.jogsAddText {
  display: inline-block;
  width: 220px;
  margin-right: 16px;
}

.jogsAddInput {
  max-width: 240px;
  height: 30px;
}

.jogsAddButton {
  width: 230px;
  margin-top: 40px;
}
.jogsSvgAdd{
  @extend %buttonRestore;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

//Results

.jogsResultsItem{
  height: 150px;
  width: 260px;
  display: flex;
  margin: 0 auto;
}
.jogsResultsItem{
  margin-left: -1.5rem;
  border-bottom: 1px solid $greyish;
  height: 150px;
  width: $jogs-item-width;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jogsResultsStatistics{
  display: flex;
  margin-left: 46px;
  justify-content: center;
  flex-direction: column;
}
.jogsResultsStatistics span:first-child{
  opacity: .5;
}
.jogsResultsStatistics span:not(:first-child){
  font-weight: 500;
}
.jogsResultsStatistics span span{
  opacity: .7;
}

@media screen and (max-height: 560px) {
  .jogEmpty {
    padding-top: 5% !important;
  }
  .jogsAdd {
    margin: 3vh auto 0;
  }
}

@include media-breakpoint-up(sm) {
  .jogsAddText {
    width: 70px;
  }
  .jogsAddItem {
    flex-direction: row;
  }
  .jogsResultsItem {
    border-bottom: 0;
    width: 260px;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(lg) {
    .jogsSvgAdd{
    bottom: 45px;
    right: 45px;
  }
  .jogsAddButton {
    width: 320px;
  }
  .jogsAdd {
    border-radius: 45px;
  }
  .jogEmpty {
    height: $main-height;

    button {
      position: absolute;
      bottom: 10vh;
    }
  }
  .jogEmpty svg {
    width: 160px;
    height: 160px;
  }
}