.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  min-width: 280px;
  li {
    margin: 5px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  a:focus {
    box-shadow: none !important;
  }
}
